/** Generics */
body {
	background: none repeat scroll 0 0 #FFFFFF;
	font-family: arial;
	font-size: 12px;
	color: #98BA9D;
}

h1 {
	text-align: center;
}

a {
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

a:hover,a:focus,a:active {
	text-decoration: underline;
}

a img {
	border: none;
}

/**  Header */

#header {
	border-bottom: 1px solid #CCCCCC;
	margin: 20px;
}

#header img{
	margin : auto;
}


/** Footer */

#footer-content {
	border-top: 1px solid #CCCCCC;
	margin: 20px;
	text-align: center;
	font-size: 9px;
}

/** Content */

#content {
	margin: 0;
}

/** Wizard */

/** List Creation Panel */

#itemListCreationPanel{
	margin : auto;
	width : 200px;
}

#itemListNameTextBoxPanel{
	text-align: center;
}

#itemListNameTextBox{
	margin : 5px 0px;
}

#createListButtonPanel{
	width: 30%;
	margin : auto;
}

/** List Panel */

#itemListPanel{
	margin : auto;
	width : 200px;
}


/** Items */

input.error{
	border-color: red;
}

#newItemNameTextBox{
	width : 190px;
}

#itemsTable{
	width : 100%;
}

.itemsTable-row:hover{
	background-color : #CCCCCC;
} 

/* Item Name */ 
.item_name {
	cursor: text;
}

.item_name-disable {
	font-weight: normal;
	text-decoration: line-through;
	color: #CCCCCC;
	cursor: default;
}

/* Item Position */
.item_position {
	height: 16px;
	width: 16px;
	margin: auto;
}

.item_position-disable {
	text-decoration: line-through;
	color: #CCCCCC;
}

/** properties */ 

.hidden{
	display:none;
}

.disabled {
	filter:alpha(opacity=30);
	opacity:0.3;
}

/** User FeedBack */

#errorLabel {
	color: red;
}

#messageLabel {
	color: orange;
}

#spinner{
	position:absolute;
	z-index:9999999999;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	filter:alpha(opacity=60);
	opacity:0.6;
	background: url("img/loading.gif") no-repeat center;
}